* {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 80%;
    margin-inline: auto;
    height: fit-content;
    margin-top: 2%;
}

button:hover{
    cursor: pointer;
}